.knappelement {
  color: black;
  background-color: pink;
}

.knappdiv {
  text-align: center;
  border: 1px solid black;
  width: 150px;
  height: 150px;
  padding: 10px;
}


.App {
  display: flex;
  flex-wrap: wrap;
}